<div class='mt-4'>
    <form method='POST' action=''>
        <div class='form-group'>
            <label for='for-search'>Tu khoa</label>
            <input
                name='q'
                type='text'
                class='form-control'
                id='search-input'
                placeholder='Nhap tu khoa'
            />
        </div>

        <div class='form-group'>
            <label for='gender-input'>GIOI TINH</label>
            <select name='gender' id='gender-input'>
                <option value=''>--Chon gioi tinh</option>
                <option value='make'> nam </option>
                <option value='famale'> nu </option>
            </select>
        </div>
        <button type='submit' class='btn btn-primary'>Tim kiem</button>
    </form>
</div>